V1I1/*.log
V1I1/*.txt
V1I1/Competition and Similar Products/
V1I1/Datasheets/
V1I1/Design Guides/
V1I1/Development Boards/
V1I1/Design Files/signoise.run/
V1I1/Design Files/*.BOM
V1I1/Design Files/*.dml
V1I1/Design Files/Netlist/*.log
V1I1/Design Files/hw_reg_block-PSpiceFiles/
V1I1/Design Files/Netlist/*.txt
V1I1/Design Files/Layout/signoise.run/
V1I1/Design Files/Layout/*.log
V1I1/Design Files/Layout/*.txt
V1I1/Design Files/Layout/*.color
V1I1/Design Files/Layout/*.dml
V1I1/Design Files/Layout/*.tag
V1I1/Design Files/Layout/*.jrl
V1I1/Design Files/Layout/*.lst
V1I1/Design Files/Layout/*.iml
V1I1/Design Files/Layout/*.mcm.lck
V1I1/Design Files/Layout/*.lck
V1I1/Design Files/Layout/*.bnp
V1I1/Design Files/Layout/*.ckt
V1I1/Design Files/Layout/*.tag
V1I1/Simulation/*.log
V1I1/Simulation/*.xml
V1I1/Simulation/*.err
V1I1/Simulation/*.bnp
V1I1/Simulation/*.ckt